<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindwind">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindWind">
        <activity android:name=".User.NoteEditorActivity"></activity>
        <activity android:name=".User.JournalPage" />
        <activity android:name=".User.BookRecommendation" />
        <activity android:name=".User.AnxietyPage" />
        <activity android:name=".User.ImageSlider" />
        <activity android:name=".User.Bookpage" />
        <activity android:name=".Common.LoginSignup.ForgetPasswordSuccessMessage" />
        <activity android:name=".Common.LoginSignup.SetNewPassword" />
        <activity android:name=".Common.LoginSignup.MakeSelection" />
        <activity android:name=".Common.LoginSignup.ForgetPassword" />
        <activity android:name=".Common.LoginSignup.VerifyOTP" />
        <activity android:name=".Common.LoginSignup.SignUp3rdClass" />
        <activity android:name=".Common.LoginSignup.SignUp2ndClass" />
        <activity android:name=".Common.LoginSignup.SignUp" />
        <activity android:name=".Common.LoginSignup.Login" />
        <activity android:name=".Common.LoginSignup.UserStartUpScreen" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".Common.Startpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>